body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
/* NavBar */
.navbar{
    height : 5rem;
    background-color: white;
}

.fa-house-chimney{
    color: rgba(233, 23, 23, 0.739);
    font-size: 2rem;
}
.nav-link{
    color: black !important   ;    /*impoortant -> to override the bootstrap styling*/
    font-weight: 500 !important;

}


/* Footer */
.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;

}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-socials{
    margin-left: 1rem;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem ;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* add page */
.add-btn{
    background-color: rgba(233, 23, 23, 0.739) !important;
    border: none !important;
}
/* edit page */
.edit-btn{
    background-color: rgba(233, 23, 23, 0.739) !important;
    border: none !important;
}
/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}